body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  /*background-color: #181818;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 32px;
  margin: 16px auto;
  display: block;
}

.logo-dark {}

.logo-light {}

.topLevelMessage {
  margin-bottom: 20px;
}

.dots {
  color: red;
}

.eventInCalendar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.testsTitleEasyMode {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.ant-row-flex,
.ant-row {
  margin: 0 !important;
}

@media (max-width: 900px) {
  .shtp_debug_info {
    display: none;
  }

}

.rainbow {
  color: rgba(237, 235, 232, 0.88);
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2666666666666666;
  margin-bottom: 0;
  margin-left: 0;
  box-sizing: border-box;
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff, #ffee00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}